*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(0deg, #113F67 0%, #549AD4 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;  
    
}

.login-wrapper{
    background-color: #fff;
    width: 554px;
    height: 554px;
    margin-top: 240px;
    margin-bottom: 240px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-headline h1{
    font-size: 40px;
    font-weight: 700;
    color:#113F67;
    padding:0;
    margin:0;
}
.form-headline p{
    color: #000;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    padding:0;
     margin:0;
}
h2{
    margin-top:57px;
    margin-bottom:34px;
    color: #002341;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:16px;
}
.login-form input{
    width:352px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border:none;
    border-bottom: 1px solid #7B7B7B;
    outline: none;
}
.sub-login-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:352px;
    margin-top: 4px;
}
.sub-login-form a{
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    padding:0;
    margin:0;
    
}
.remember-check{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.remember-check input{
    width: 16px;
    height: 16px;
}
.remember-check label{
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    padding:0;
    margin:0;
}
.login-form button{
    width: 160px;
    height: 32px;   
    border-radius: 8px;
    background: #58A0C8;
    color: #fff;
    border:none;
    margin-top: 69px;
}

